@inject social.Models.Contextsocial db
@model social.Models.Entity.People
@{
    ViewData["Title"] = "ویدئو کنفرانس ";
    Layout = "~/Views/Shared/_Layoutpro.cshtml";

}



<style>
</style>
<div class="div-search">
    <lable class="text-search">اتاق کنفرانس</lable>
</div>

<div class="callmain">
    <div class="calldhl">
        <p class="makeplp">ساخت لینک اتاق کنفرانس</p>
        <button onclick="linkpeer()" class="btn-lin btn btn-xs btn-sm btn-warning">ایجاد لینک</button>
    </div>
    <div class="callinfo">
        <p class="infocl">در نظر داشته باشید پس از دریافت لینک قبل از ورود به اتاق کنفرانس , لینک بازدیدکنندگان را برای اشخاص مورد نظر ارسال کنید ,سپس وارد شوید </p>
    </div>
    <div class="dlin">
        <p class="tlincall">کد ورود ایجاد کننده </p>
        <button id="FailCopy3" type="button" onclick="copyToClipboard3('p.linmaster0')" class="btn btn-xs btn-info">کپی</button>

    </div>
    <div class="dlin2">
        <p class="tlincall">لینک بازدیدکنندگان</p>
        <button id="FailCopy4" type="button" onclick="copyToClipboard4('p.linmaster')" class="btn btn-xs btn-info">کپی</button>

    </div>

    <button onclick="callUser()" class="btn-sm btn btn-xs btn-success btn-lincall">ورود </button>
</div>

@*<div id="live">
        <video id="remote-video"></video>
        <video id="local-video" muted="true"></video>
        <p id="end-call" onclick="endcall()">قطع تماس</p>
    </div>*@

<div class="main-box2">
    <div class="ut-box2">

        <p onclick="capture()" class="camera-btn" style="cursor:pointer;"> اشتراک صفحه &nbsp<i class="fa fa-upload" aria-hidden="true"></i></p>
        @*<p onclick="callUser()" class="back-btn" style="cursor:pointer;"> تماس تصویری &nbsp<i class="fa fa-camera" aria-hidden="true"></i></p>*@
        <p onclick="endcall()" class="end-btn" style="cursor:pointer;"> قظع تماس  &nbsp<i class="fa fa-close" aria-hidden="true"></i></p>
        @*<p id="phone-btn" class="phone-btn">Voice Call &nbsp<i class="fa fa-phone" aria-hidden="true"></i></p>*@

        @*<p onclick="endcall()" class="end-btn">End Call</p>*@

    </div>
    <video id="cambox"></video>
    <div class="side-box3">


        @*foreach (var i in people)
            {
            <div class="mes-pro2" onClick="show(@i.username)">

            <img class="mes-pic2" src="picture/profile/@i.picturename" />
            <p class="mes-name3">@i.username &nbsp<span class="badge badge-info">@i.count</span></p>'


            </div>
            }*@

    </div>
    <div class="mess-box3">
        <div class="box-pro">
        </div>

    </div>
    <div class="form-box2">
        <form id="chatForm">
            <textarea type="text" id="messageTextBox" class="form-tarea" onkeyup="findType(this)"></textarea>
            <input type="hidden" id="rTextBox" value="@User.Identity.Name" />

            <input type="hidden" id="groupid" value="@ViewBag.groupid" />

            <button type="submit" class="form-btn-box"><i class="fa">&#xf1d9;</i></button>
        </form>


        <label class="form-btn-pic">
            <i class="fa fa-upload" aria-hidden="true"></i>

            <input type="file" accept="audio/*,video/*,.xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.zip,.rar,.7zip" class="file" id="file2" name="file" style="visibility:hidden" />

        </label>
        <p class="btnsendvoice" id="btnsendvoice">
            <i class="fa fa-microphone" aria-hidden="true"></i>
        </p>


    </div>
</div>
<div class="menucleft">

</div>
<script>


    function copyToClipboard3(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }

    $("#FailCopy3").click(function () {
        $("#FailCopy3").style.background = "green";
    });
    function copyToClipboard4(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }

    $("#FailCopy4").click(function () {
        $("#FailCopy4").style.background = "green";
    });

    $(".main-box2").hide();
    $(".div-search").hide();
    $(".callmain").hide();
    if ('@ViewBag.showper'== "true") {
        $(".main-box2").show();
        $(".div-search").hide();
        $(".callmain").hide();
    }
    else {
        $(".main-box2").hide();
        $(".div-search").show();
        $(".callmain").show();
    }
    var currentCall;
    const peer = new Peer();
    var gi = '@ViewBag.groupid';
    function linkpeer() {

       
        peer.on("open", function (id) {

            $(".dlin").append(
                '<p class="linmaster0">' + id + '</p>'
            );
            $(".dlin2").append(
                '<p class="linmaster">www.iranlo.ir/guest/conferance?idc='+id+'</p>'
            );

            $.ajax('/guest/buscon/?uid=' +'@User.Identity.Name'+'&idc=' + id).done();
        });

    }
    $.ajax('/guest/message2?gid=' + '@ViewBag.groupid').done(function (dd) {
        for (var i = 0; i <= dd.length; i++) {
            //console.log(dd.length);



            if (dd[i].vname != null) {
                $(".box-pro").append(
                    '<p class="box-com">' + dd[i].user + '</p><p style="margin-right:15px;">' + dd[i].sendat + '</p>'
                    + '<audio controls style="width: 200px;">'
                    + '<source src="/media/voice/' + dd[i].vname + '">'
                    + '</audio>')
            }

            else if (dd[i].pname != null) {
                $(".box-pro").append(
                    '<p class="box-com">' + dd[i].user + '</p><p style="margin-right:15px;">' + dd[i].sendat + '</p>'
                    + '<img class="img-com-chat" onclick="openModal()" src="/picture/chat/' + pic + '"/>'
                    + '<div id ="myModal" class="modal">'
                    + '<span class="close cursor" onclick="closeModal()">&times;</span>'
                    + '<img src="/picture/chat/' + pic + '" style="width:100%">'
                    + '</div>'


                );
            }
            else if (dd[i].voname != null) {
                $(".box-pro").append(
                    '<p class="box-com">' + dd[i].user + '</p><p style="margin-right:15px;">' + dd[i].sendat + '</p>'
                    + '<video class="img-com-user">'
                    + '<source src="/picture/chat/' + dd[i].pic + '" type="video/mp4">'
                    + '</video>'
                )
            }
            else {
                $(".box-pro").append(
                    '<p class="box-com">' + dd[i].user + '</p><p style="margin-right:15px;">' + dd[i].sendat + '</p>'
                    + '<p class="box-com text-white bg-secondary">' + dd[i].text + '</p>'

                );
            }

            $(".mess-box3").animate({ scrollTop: $('.mess-box3')[0].scrollHeight }, 0);






        }
    })

    ////////////////////////////////////////////////////////////////emoji

    $("#messageTextBox").emojioneArea({

        pickerPosition: "top"

    });
    function findType(element) {

        let char = new RegExp("[\u0600-\u06FF]");

        if (char.test(element.value) === true) {

            element.style.direction = "rtl !important"

        }

        else {

            element.style.direction = "ltr !important"

        }

    }

    //////////////////////////////////////////////////////////////////////



    function delperson(user)
    {
        $.ajax('/guest/delpeople?user=' + user).done(function(f){
            if(f.state="true")
            {
                pl();

            }
        });
    }
    function show(user)
    {
            var url = "https://iranlo.ir/home/profile?username=" + user;
            $(location).attr('href', url);
            //$.post('/home/links?username=' + user).done();
    }
</script>
@*<input type="hidden" id="rTextBox" value="@User.Identity.Name" />*@
<script>

    /////////////////////////////////////////input checker


    ////////////////////////////////////////////////////////////////
    var user2 = $("#xTextBox").val();
    var usermaster
    if (user2 == "") {
        allperson();
        function allperson() {
            $.ajax('/guest/peopleall?groupId='+'@ViewBag.groupid').done(function (ddd) {
                $(".side-box3").html('');
                for (var i = 0; i <= ddd.length; i++) {
                    if (ddd[i].ip == "") {
                        $(".side-box3").append(
                            '<div class="mes-pro2" onClick="show(\'' + ddd[i].username + '\')">'
                            + '<img class="mes-pic2" src="/picture/profile/' + ddd[i].picturename + '"/>'
                            + '<p class="mes-name3">' + ddd[i].username + '</p>'
                            + '<span onClick="delperson(\'' + ddd[i].username + '\')" class="mes-name3">&nbsp&nbsp<i class="fa fa-trash text-danger" aria-hidden="true"></i></span>'
                            + '</div>'
                        );
                    }
                    else {
                        $(".side-box3").append(
                            '<div class="mes-pro2" onClick="show(\'' + ddd[i].username + '\')">'
                            + '<img class="mes-pic4" src="/picture/profile/' + ddd[i].picturename + '"/>'
                            + '<p class="mes-name3">' + ddd[i].username + '</p>'
                            + '<span onClick="delperson(\'' + ddd[i].username + '\')" class="mes-name3">&nbsp&nbsp<i class="fa fa-trash text-danger" aria-hidden="true"></i></span>'
                            + '</div>'
                        );
                    }

                }
            })

        }
    }
    if (user2 != "") {
        allperson2();
        function allperson2() {
            $.ajax('/guest/peopleall?groupId=' +'@ViewBag.groupid').done(function (ddd) {
                $(".side-box3").html('');
                for (var i = 0; i <= ddd.length; i++) {
                    if (ddd[i].ip = "") {
                        $(".side-box3").append(
                            '<div class="mes-pro2" onClick="show(\'' + ddd[i].username + '\')">'
                            + '<img class="mes-pic2" src="/picture/profile/' + ddd[i].picturename + '"/>'
                            + '<p class="mes-name3">' + ddd[i].username + '</p>'
                            + '<span onClick="delperson(\'' + ddd[i].username + '\')" class="mes-name3">&nbsp&nbsp<i class="fa fa-trash text-danger" aria-hidden="true"></i></span>'
                            + '</div>'
                        );
                    }
                    else {
                        $(".side-box3").append(
                            '<div class="mes-pro2" onClick="show(\'' + ddd[i].username + '\')">'
                            + '<img class="mes-pic4" src="/picture/profile/' + ddd[i].picturename + '"/>'
                            + '<p class="mes-name3">' + ddd[i].username + '</p>'
                            + '<span onClick="delperson(\'' + ddd[i].username + '\')" class="mes-name3">&nbsp&nbsp<i class="fa fa-trash text-danger" aria-hidden="true"></i></span>'
                            + '</div>'
                        );
                    }
                }
            })

        }
    }
    function delperson(user) {
        $.ajax('/guest/delperson?user=' + user).done();
        allperson();

    }
    if (user2 != "") {
        $(".side-box3").html('');
        $.ajax('/home/persons?username=' + user).done(function (ddd) {
            //for (var i = 0; i <= ddd.length; i++) {
            //    $(".side-box2").append(
            //            '<div class="mes-pro2" onClick="show(\'' + ddd[i].username + '\')">'
            //        + '<img class="mes-pic2" src="/picture/profile/' + ddd[i].picturename + '"/>'
            //            + '<p class="mes-name3">' + ddd[i].username + '</p>'
            //            + '<span onClick="delperson(\'' + ddd[i].username + '\')" class="mes-name2">&nbsp&nbsp<i class="fa fa-trash text-danger" aria-hidden="true"></i></span>'
            //            + '</div>'
            //    );
            //}
        })
        allperson2();

    }
    //    function showperson()
    //{
    //    if(user==null)
    //    {
    //     $(".side-box2").html('');
    //     //setInterval(function () {
    //     $.ajax('/home/persons?username=' + user).done(function (ddd) {
    //         for (var i = 0; i <= ddd.length; i++) {
    //             $(".side-box2").append(
    //                 '<div class="mes-pro2" onClick="show(\'' + ddd[i].username + '\')">'
    //                 + '<img class="mes-pic2" src="/picture/profile/' + ddd[i].picturename + '"/>'
    //                 + '<p class="mes-name3">' + ddd[i].username + '&nbsp<span class="badge badge-info">' + ddd[i].count + '</span></p>'
    //                 + '</div>'
    //             );
    //         }
    //     })
    //   }
    //}
    //function showperson()
    //{
    //     $(".side-box2").html('');
    //     //setInterval(function () {
    //     $.ajax('/home/persons?username=' + user).done(function (ddd) {
    //         for (var i = 0; i <= ddd.length; i++) {
    //             $(".side-box2").append(
    //                 '<div class="mes-pro2" onClick="show(\'' + ddd[i].username + '\')">'
    //                 + '<img class="mes-pic2" src="/picture/profile/' + ddd[i].picturename + '"/>'
    //                 + '<p class="mes-name3">' + ddd[i].username + '&nbsp<span class="badge badge-info">' + ddd[i].count + '</span></p>'
    //                 + '</div>'
    //             );
    //         }
    //     })
    //}


    //function counter(user2) {
    //    var u2 = $("#xTextBox").val();
    //    $.ajax('/home/counter?username=' + u2).done(function (dd) {
    //        for (var i = 0; i <= dd.length; i++) {
    //            c = dd[i].count;
    //        }
    //        $(".inbox").text(c);
    //    })
    //}
    //////////////////////////////////////////////////////////peeerjs

    $(".end-btn").hide();

    function endcall() {
        $(".end-btn").hide();
        //$(".phone-btn").show();
        $(".camera-btn").show();



        // Go back to the menu

        document.querySelector("#live").style.display = "none";// If there is no current call, return

        currentCall.close();

        currentCall = undefined;
    }



    //////////////////////////////////////////////////////////////


    var pid = "";
    var htrue = false;
    async function callUser() {
        $(".camera-btn").show();
        $(".main-box2").show();
        $(".div-search").hide();
        $(".callmain").hide();
        var getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

        $(".end-btn").show();
        //$(".phone-btn").hide();

        $(".callmain").hide();

        $("#end-call").show();
        $.ajax("/guest/checkid?uid="+'@User.Identity.Name').done(function (g) {
            pid = g[0].idc;
            htrue = true;
        })

        peerId = pid;
        const stream = await navigator.mediaDevices.getUserMedia({
            video: true,
            audio: true,
        });

        if (htrue == true) {
            document.getElementById("cambox").srcObject = stream;
            document.getElementById("cambox").play();// make the call
        }
        const call = peer.call(peerId, stream);
        if (htrue == false) {
            call.on("stream", (stream) => {

                document.getElementById("cambox").srcObject = stream;
                document.getElementById("cambox").play();
            });
            call.on("data", (stream) => {
                document.getElementById("cambox").srcObject = stream;
            });
            call.on("error", (err) => {
                console.log(err);
            });
            call.on('close', () => {
                endCall()
            })// save the close function
            currentCall = call;
            //}
        }
    }


    /////////////////////////////////////////////////



    var getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
    peer.on('call', function (call) {

        getUserMedia({ video: true, audio: true }, function (stream) {
            console.log('Received stream1', stream);

            call.answer(stream); // Answer the call with an A/V stream.
            call.on('stream', function (remoteStream) {

                // Show stream in some video/canvas element.
                console.log('Received stream2', remoteStream);
                const video = document.getElementById("cambox");
                video.srcObject = remoteStream;
                video.onloadedmetadata = () => {
                    video.play();
                };
            });
        })
    }, function (err) {
        console.log('Failed to get local stream', err);

    });


    ///////////////////////////////////////////
    function endcall() {
        $(".end-btn").hide();
        $(".camera-btn").hide();

        //$(".phone-btn").show();
        $(".main-box2").hide();
        $(".div-search").show();
        $(".callmain").show();

        // Go back to the menu
        document.querySelector("#live").style.display = "none";// If there is no current call, return

        currentCall.close();

        currentCall = undefined;
    }
    async function capture() {

        try {
            let mediaStream = await navigator.mediaDevices.getDisplayMedia({ video: true });
            videoElement.srcObject = mediaStream;
        } catch (e) {
            console.log('Unable to acquire screen capture: ' + e);
        }
    }

    //////////////////////////////////////////////////////
</script>

@section Scripts{
    <script>



        $(".profile-li").css({ 'background': '#bd9119', 'color': 'white' });
        $(".inboxmenu").css({ 'background': 'white', 'border': '2px solid #0751a1', 'color': '#0751a1', 'padding': '5px 8px 1px 5px' });
        $(".inboxmenu2").css({ 'background': 'white', 'color': '#0751a1' });

    </script>


    @*<script src="~/lib/jquery/dist/jquery.js"></script>
              <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/all.js"></script>
         <script src="~/js/fontawesome.js"></script>*@
    <script src="~/js/recorder.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script src="~/js/chat2.js"></script>
}
